# Ignore the target directory where compiled files are stored.
target/

# Ignore generated Cargo.lock file for libraries, but keep it for binaries.
# Libraries generally shouldn't commit Cargo.lock, but binaries should.
# See https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries
Cargo.lock

# Ignore build scripts output
build.rs

# Ignore backups and swap files created by editors.
*.bak
*.swp
*.swo

# Ignore output from rustfmt and clippy
**/rustfmt.toml
**/clippy.toml

# Ignore IDE and editor-specific files.

# VS Code
.vscode/

# JetBrains (IntelliJ, CLion, etc.)
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Eclipse
.cproject
.project
.settings/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Ignore cargo-audit vulnerability report
cargo-audit.toml
cargo-audit.html
